.App{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todoInput{
    margin: 2rem;
}

.todoListItem{
    display: grid;
    grid-template-columns: 20rem 5rem;
    grid-auto-rows: 2rem;
}

.todoListItem p{
    margin: 0; 
}

.completed{
    text-decoration: line-through;
}